body{
    background-color: rgb(0, 0, 0)
    }
    
    @font-face{
        font-family: "future";
        src: url("future.outrun-future-bold-italic.otf");
    }
    
    h1{
        color: white;
        font-family: "future";
        text-align: center;
        font-size: 50px;
        margin: 0;
    }

    h2{
        font-family: "future";
        text-align: center;
        margin:0;
    }

    .product-space{
        padding: 20px 20px;
        text-align: center;
    }