body{
    background-image: url('genjiwallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:black;
    margin:0;           /* 1 */
    width:100%;         /* 2 */
    min-height:100vh;   /* 3 */
    height:auto;        /* 4 */
}

    @font-face{
        font-family: "future";
        src: url("future.outrun-future-bold-italic.otf");
}

    h1{
        color: white;
        font-family: "future";
        text-align: center;
        font-size: 50px;
        margin: 0;
    }

    h2{
        font-family: "future";
        text-align: center;
        margin:0;
    }

    .product-space{
        padding: 20px 20px;
        text-align: center;
    }

    .add-button{
        width: 75%;
        outline: white;
        border-radius: 24px;
        padding: 10px;
        border: 3px solid white;
        background-color: transparent;
        color: white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .finalmouse-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3s;
        display: inline-block;
    }

    .finalmouse-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }

    .ducky-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3s;
        display: inline-block;
    }

    .ducky-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }

    .genji-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3s;
        display: inline-block;
    }

    .genji-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }


    .pepe-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3s;
        display: inline-block;
    }

    .pepe-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }

    .res-card{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        width: 20%;
        border: 5px solid white;
        border-radius: 10px;
        margin: 0px 10px 0px;
        transition: 0.3s;
        display: inline-block;
    }

    .res-info{
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        display: inline-block;
    }

    .sec-nav{
        padding: 15px;
    }